scikit-learn==1.0.2
joblib==1.3.2
numpy==1.26.3
pandas==2.1.4
gradio==4.13.0
bitsandbytes==0.42.0
datasets==2.16.1
accelerate==0.25.0
loralib==0.1.2
sacremoses==0.1.1
sentencepiece==0.1.99
gradio==4.13.0
torch==2.1.0
peft==0.7.1
transformers==4.36.2

